<!-- from '/views/pages/dashboard.ejs'-->
<!DOCTYPE html>

<head>
	<% include ../partials/head %>
		<link rel="stylesheet" href="css/chat.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-8 thumbnail">
				<div class="row">
					<div class="col-xs-4">
						<img class="img-rounded" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg">
					</div>
					<div class="col-xs-8">
						<div class="text-left">
							<h4 id="username">
								<%= username %>
							</h4>
						</div>
						<a href="/logout" class="btn btn-info btn-xs pull-left" role="button">logout</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-info">
					<div class="tabbable tabs-left clearfix">
						<ul id="myTab1" class="nav nav-tabs">
							<li class="active"><a href="#chat-panel" data-toggle="tab" data-departmentId="1">HR
							<span class="badge pull-right badge-danger" id="hr-badge">42</span>
							</a></li>
							<li><a href="#chat-panel" data-toggle="tab" data-departmentId="2">IT
							<span class="badge pull-right badge-danger" id="it-badge">42</span>
							</a></li>
							<li><a href="#chat-panel" data-toggle="tab" data-departmentId="3">Corp Services
							<span class="badge pull-right badge-danger" id="corp-badge">42</span>
							</a></li>
							<li>
								<a href="#chat-panel" data-toggle="tab" data-departmentId="4">Finance
									<span class="badge pull-right badge-danger" id="finance-badge">42</span>
								</a>
							</li>
							<li>
								<a href="#chat-panel" data-toggle="tab" data-departmentId="5">ESS
									<span class="badge pull-right badge-danger" id="ess-badge">42</span>
								</a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="chat-panel">
								<div class="message-wrapper">
									<ul id="message-list">
									</ul>
								</div>
							</div>
						</div>
						<div class="send-message-action">
							<div class="input-group">
								<input type="text" class="form-control" id="mssg">
								<div class="input-group-btn">
									<button type="button" class="btn btn-primary btn-ghost" id="sendMessageBtn" tabindex="-1">Send</button>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal" id="answerQuestion">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">Question</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
			<label>Answer</label>
			<textarea class="form-control" rows="6" id="answer" placeholder="Type in your answer here"></textarea>
			</div>
		</div>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-success" id="submitAnswer">Send</button>
		</div>
	</div>
	</div>
</div>
	<footer class="text-center">
		<% include ../partials/footer %>
			<script>
				var loggedInUser = <%- JSON.stringify(user) %>;
			</script>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/chat.js"></script>
	</footer>
</body>